# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Archivos temporales
*.log
*.tmp

# Entornos virtuales
.venv/
env/
venv/

# Modelos y datos pesados (🔥 evita errores en Hugging Face)
models/
.rasa/
*.tar.gz
*.data-00000-of-00001

# Archivos de VS Code
.vscode/

# Redundancias eliminadas (mantener limpio)

