# Librerías base
setuptools==65.5.1
wheel==0.41.2
cython==0.29.36
pyyaml==5.4.1
sqlalchemy==1.4.49

# Framework principal
rasa==3.6.2
rasa-sdk==3.6.2

# Machine Learning
tensorflow==2.12.0
scikit-learn==1.1.3
numpy==1.23.5

# Servidor web y asincronía
aiohttp==3.8.5

